<div class="search-form popup_block" id="popup1">
        <div class="inbl mt1 ml3">
            <span>Origine de la demande</span>
            <div class="mt1">
                <input id="origineDemande-parent" type="checkbox" value="parent">
                <label class="ma1" for="origineDemande-parent">Parent</label>
            </div>
            <div class="mt1">
                <input id="origineDemande-medecin" type="checkbox" value="medecin">
                <label class="ma1" for="origineDemande-medecin">Médecin</label>    
            </div>
            <div class="mt1">
                <input id="origineDemande-instituteur" type="checkbox" value="instituteur">        
                <label class="ma1" for="origineDemande-instituteur">Instituteur</label>
            </div>
        </div>
        <div class="inbl mt1 ml3">
            <span>Domaine d'intervention</span>
            <div class="mt1">
                <input id="domaineIntervention-langageOral" type="checkbox" value="parent">
                <label class="ma1" for="domaineIntervention-langageOral">langage oral</label>
            </div>
            <div class="mt1">
                <input id="domaineIntervention-langageEcrit" type="checkbox" value="medecin">
                <label class="ma1" for="domaineIntervention-langageEcrit">langage écrit</label>    
            </div>
            <div class="mt1">
                <input id="domaineIntervention-neurologie" type="checkbox" value="instituteur">        
                <label class="ma1" for="domaineIntervention-neurologie">Neurologie</label>            
            </div>
        </div>
        <div class="inbl mt1 ml3">
            <span>Bilan</span>
            <div class="mt1">
                <input id="bilan-nonRedige" type="checkbox" value="parent">
                <label class="ma1" for="bilan-nonRedige">non rédigé</label>
            </div>
            <div class="mt1">
                <input id="bilan-enCoursDeRedaction" type="checkbox" value="medecin">
                <label class="ma1" for="bilan-enCoursDeRedaction">en cours de rédaction</label>    
            </div>
            <div class="mt1">
                <input id="bilan-redige" type="checkbox" value="instituteur">        
                <label class="ma1" for="bilan-redige">rédigé</label>
            </div>
        </div>
        <div class="date-search">
            <div class="inbl mt2 ml3">
                <label for="date-bilan">Date du bilan</label>
                <input id="date-bilan" type="text">
                <div id="date-bilan-selected"></div>
            </div>
            <div class="date-demandeBilan inbl mt2 ml3">
                <label for="date-demandeBilan">Date de la demande du bilan</label>
                <input id="date-demandeBilan" type="text" placeholder="dd/mm/yyyy">
            </div>
        </div>
    </div>