<form action="#" method="get" onsubmit="">
    <div class="ajouter-bilan center w90" data-id={{:id}}>
        <div class="mt2">
            <label for="js-dateDemandeBilan">Date de la demande du bilan</label>
            <input id="js-dateDemandeBilan" type="text" value="{{:dateDemandeBilan}}" autofocus="autofocus">
        </div>
        <div class="mt2">
            <label for="js-nomPatient">Nom du patient</label>
            <input id="js-nomPatient" type="text" value="{{:nomPatient}}">
        </div>
        <div class="mt2">
            <label for="js-prenomPatient">Prénom du patient</label>
            <input id="js-prenomPatient" type="text" value="{{:prenomPatient}}">
        </div>        
        <div class="mt2">
            <label for="js-origineDemande">Origine de la demande</label>
            <select id="js-origineDemande">
                <option {{if origineDemande === 'Médecin'}} selected {{/if}}>Médecin</option>
                <option {{if origineDemande === 'Instituteur'}} selected {{/if}}>Instituteur</option>
            </select>
        </div>
        <div class="mt2">
            <label for="js-domaineIntervention">Domaine d'intervention</label>
            <select name="" id="js-domaineIntervention">
                <option {{if domaineIntervention === 'Déglutition'}} selected {{/if}}>Déglutition</option>
                <option {{if domaineIntervention === 'Neurologie'}} selected {{/if}}>Neurologie</option>
                <option {{if domaineIntervention === 'Langage oral'}} selected {{/if}}>Langage oral</option>
            </select>
        </div>
        <div class="mt2">
            <label for="js-telephone">Téléphone</label>
            <input id="js-telephone" type="text" value="{{:telephone}}">
        </div>
        <div class="mt2">
            <label for="js-anamnese">Commentaire</label>
            <textarea id="js-anamnese" type="text" value={{:anamnese}}></textarea>
        </div>
        <div class="mt2">
            <label for="js-dateBilan">Date du bilan</label>
            <input id="js-dateBilan" type="text" value="{{:dateBilan}}">
        </div>
        <div class="mt2">
            <label for="js-disponibilitePatient">Disponibilité du patient</label>
            <textarea id="js-disponibilitePatient" type="text" value="{{:disponibilitePatient}}"></textarea>
        </div>        
        <div class="mt3">
            <button id="js-enregistrerPatient" type="submit" class="btn btn-action-blue smooth activate">Enregistrer</button>
        </div>
    </div>    
</form>