<span class="icon icon-logo">My Ortho</span>
<ul class="navigation unstyled">
    <li><a class="js-ajouter-bilan" href="#">Ajouter un bilan</a></li>
    <li><a class="js-bilans" href="#">Bilansss</a></li>
</ul>
<div class="alert alert-info center mb2 mt2 w60 desktop-hidden">Vous avez validé</div>
<div class="alert alert-success center mb2 mt2 w60 desktop-hidden">C'est enregistré</div>
<div class="alert alert-warning center mb2 mt2 w60 desktop-hidden desktop-hidden">Vous avez validé</div>
<div class="alert alert-error center mb2 mt2 w60">Vous avez validé</div>
<form class="search-application" method="GET" action="/dashboard/pc6x2/search">
    <input type="text" placeholder="search" name="q">
</form>